* {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  
.container {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .password-input {
    width: 22em;
    height: 2.8em;
    border-radius: 10px;
    padding-left: 10px;
    background-color: #f3f3f3;
    border: gray solid 1px;
  }
  
  .submit {
    width: 16em;
    height: 2.5em;
    border: none;
    border-radius: 10px;
    background-color: #1f9080;
    color: white;
    font-size: larger;
    cursor: pointer;
  }
  
  .submit:hover {
    background-color: #23a896;
  }
  
  .submit:active {
    background-color: #1f9080;
  }
  
  .disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
  
  .hide{
    display: none;
  }