* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e8e8e8;
  border-radius: 20px;
  flex-wrap: wrap;
}

video {
  width: 500px;
  height: 90vh;
  object-fit: cover;
  border-radius: 20px;
}

.signin-container {
  width: 500px;
  height: 90vh;
  border-radius: 0px 20px 20px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.signup-container {
  width: 500px;
  height: 90vh;
  border-radius: 0px 20px 20px 0px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.message {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-message h1 {
  color: rgb(80, 80, 80);
  font-size: 30px;
}

.welcome-message p {
  color: rgb(80, 80, 80);
  font-size: 15px;
}

.signup-message {
  color: rgb(80, 80, 80);
  position: absolute;
  top: 20%;
  left: 50%;
  font-size: 30px;
  transform: translate(-50%, 0);
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.email-wrapper {
  margin-bottom: 1rem;
}

.signup-wrapper {
  margin-bottom: 1rem;
}

.gender-wrapper {
  margin-bottom: 1rem;
}

.password-wrapper {
  margin-bottom: 1rem;
}

.login-button-wrapper {
  margin-bottom: 1rem;
}

.input-name {
  margin-top: 0.5em;
  position: relative;
}

.input-email {
  margin-top: 0.5em;
  position: relative;
}

.input-password {
  margin-top: 0.5em;
  position: relative;
}

i {
  left: 4%;
  top: 50%;
  transform: translate(0, -50%) scale(1.2);
  position: absolute;
  z-index: 1;
  color: gray;
}

label {
  font-size: 1em;
  color: rgb(80, 80, 80);
}

.gender {
  font-size: 1em;
  color: rgb(80, 80, 80);
}

.login-input {
  width: 20em;
  height: 2.8em;
  border-radius: 10px;
  border: none;
  padding-left: 40px;
}

.submit {
  width: 16em;
  height: 2.5em;
  border: none;
  border-radius: 10px;
  background-color: #1f9080;
  color: white;
  font-size: larger;
  cursor: pointer;
}

.submit:hover {
  background-color: #23a896;
}

.submit:active {
  background-color: #1f9080;
}

.signup {
  position: relative;
}

.quote {
  position: absolute;
  top: 20%;
  left: 10%;
  right: 10%;
  width: 80%;
  color: white;
}

.signup-btn-wrapper {
  position: absolute;
  bottom: 10%;
  left: 10%;
  right: 10%;
  width: 80%;
  height: 80px;
  display: flex;
  justify-content: right;
}

.btn-backdrop {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
  border-radius: 10px;
}

.singnup-btn {
  position: absolute;
  z-index: 1;
  right: 5%;
  top: 50%;
  transform: translate(0, -50%);
  width: 6em;
  height: 3em;
  font-size: 1em;
  border-radius: 10px;
  border: none;
  color: #1f9080;
  cursor: pointer;
  background: white;
  transition: 0.5s;
}

.singnup-btn:hover {
  background-color: #1f9080;
  color: white;
}

.singnup-btn:active {
  background-color: white;
  color: #1f9080;
}

.signup-prompt {
  position: absolute;
  color: white;
  top: 50%;
  transform: translate(0, -50%);
  left: 5%;
  font-weight: 400;
}

.or {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.or div{
  margin: .2rem;
}

@media only screen and (max-width: 1000px) {
  video {
    height: 90vh;
    width: 100%;
    border-radius: 0px;
  }

  .container {
    height: auto;
  }
}

.hide {
  display: none;
}
